.details.about-us
  .container
    %h1 About Us
    .row
      .col-md-8
        .description
          .copy
            %p When someone goes through a traumatic experience, they need personalized care that is specific to the crime they experienced. They need to quickly connect to services available from trusted sources. Get Through This exists to address those needs in one place.

            %p Get Through This is a project of Serving California and Californians for Safety and Justice, two organizations that seek to rec 

            %p Serving California is a foundation committed to the possibility that we can build a community of empathy for those who are struggling and provide them with resources to transcend their situations.

            %p Californians for Safety and Justice is a nonprofit bringing a statewide network of nearly 6,000 crime victims together with business and community leaders, policymakers, law enforcement, health professionals, educators and crime-prevention experts to replace costly, old ways of doing business with new justice priorities that improve public safety without draining resources from our schools, hospitals and other community needs.

      .col-md-4
        .content-box.configuration
          .header
            = image_tag("heart-icon.png", class: "icon")
            Partners
          .copy
