.details {
  background-color: $offwhite2;

  a.back {
    @include headline-text(18px, 300);
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  h1 {
    @include headline-text(25px, $color: $dark-blue);
  }

  .description, .content-box {
    margin-top: 17px;
    border: 1px solid $lol-grey7;
  }

  .description .copy {
    background-color: #fff;
    padding-top: 15px;
    border-top: 4px solid $dark-blue;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
  }

  .description {
    p {
      @include primary-text(15px);
    }

    .details .header {
      padding-left: 10px;
      margin-bottom: 0;
    }
  }
}

.content-box {
  @media (min-width: $screen-md-min) {
    margin-bottom: 90px;
  }

  .icon {
    padding: 0 15px;
  }

  .copy {
    background-color: #fff;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 35px;

    p {
      @include primary-text(15px);
      margin-bottom: 15px;
    }
  }
}

.details h1 {
  color: $dark-blue;
  font-size: 25px;
  font-family: $primary-font;
  margin-top: 10px;
}

.related {
  border-top: 1px solid $lol-grey7;
  padding-top: 15px;
  @include primary-text(12px);

  .label {
    margin-left: 5px;
  }
}

.download {
  h2 {
    @include headline-text(14px, 700);
    margin-top: 15px;
  }

  p {
    @include primary-text(12px);
    margin-bottom: 10px;
  }

  &:not(:last-child)  {
    border-bottom: 1px solid $lol-grey7;
  }

  .icon {
    float: left;
    padding-top: 20px;
  }

  .copy {
    display: inline-block;
  }
}

