footer {
  background-color: $dark-grey;
  height: 132px;
} 

footer ul {
  padding-top: 23px;
}

footer ul > li > a {
  font-family: $primary-font;
  color: #fff;
  font-size: 18px;
  padding-top: 23px;
}

footer .vertical-rule {
  border-right: 2px solid $divider;
  height: 88px;
  margin-right: 18px;
  margin-top:   17px;
  width: 2px;
}

footer .get-involved {
  font-family: $primary-font;
  color: #fff;
  font-size: 18px;
  padding-top: 28px;
}

footer .get-involved label {
  font-weight: 400; 
}

footer .form-control {
  height: 42px;
  font-size: 18px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  border-color: $lol-grey2;
  background-color: $lol-grey3;
}

footer .form-control::-webkit-input-placeholder { 
  color: $lol-grey; 
}

footer .form-control::-moz-placeholder { 
  color: $lol-grey; 
}

footer .form-control:-ms-input-placeholder {
  color: $lol-grey; 
}