.developer-submit {
    input {
	width: 100%;
	display: block;
	margin-bottom: 5px;
	height: 47px;
    }
    textarea {
	margin-bottom: 5px;
    }
    button {
        width: 100%;
    }
}

.search {
    .csj-logo {
	padding: 10px;
	margin-top: 10px;
    }

    h3 {
	margin-top: 0px;
	margin-bottom: 20px;
    }
}
