.search {
  background-color: $offwhite2;
  min-height: 450px;

  hr {
    border-top: 1px solid $lol-grey7;
  }

  h1 {
    @include headline-text(18px);
    display: inline;
  }

  button {
    margin-bottom: 10px;
    width: 95px;
    border: none;
  }

  .mobile-configuration {
    ul {
      float: right;
      li {
        &:first-child {
          padding-right: 10px;
        }
      }
    }

    a {
      @include primary-text(16px);
    }
  }

  .container {
    padding-top: 35px; 
    padding-bottom: 35px; 
  }

  .content {
    background-color: #fff;
    border-top: 4px solid $dark-blue;

    .copy {
      margin-top: 20px;
      display: inline-block;
      width: 70%;

      p, .more {
        @include primary-text(15px);
        margin-top: 6px;
      }

      .more {
        color: $dark-text;
      }
    }
  }

  .filter {
    margin-bottom: 3px;
  }

  .labels {
    margin-bottom: 15px;

    h5 {
      display: inline;
    }
  }


  .types, .bottom {
    margin-right: 14px;
    margin-bottom: 15px;
    margin-left: 14px;
  }

  .bottom {
    border-bottom: 1px solid $lol-grey5;
  }

  .types {
    h4 {
      @include header-text(15px, 400)     
    }

    ul {
      @include primary-text(14px);
      padding-bottom: 15px;
      border-bottom: 1px solid $lol-grey5;
    }

    input {
      margin-right: 10px;
    }
  }

  .resource {
    background-color: $lol-grey9;
    border: 1px solid $lol-grey7;
    margin-bottom: 15px;

    .read-more {
      margin-top: 8px;
      margin-left: 13px;
      text-transform: uppercase;

      a {
        @include header-text(12px, $color: $dark-blue);

        &:hover, &:focus {
          @include header-text(12px, $color: $dark-blue);
        }
      }
    }

    .icon {
      margin-top: 20px;
      margin-left: 8px;
      margin-right: 20px;
      float: left;
    }
  }
}

ul.dropdown-menu-form {
  padding: 5px 25px 0;
  max-height: 300px;
  overflow-y: scroll;
  min-width: 170px;

  liu{ 
    @include primary-text(12px);
  }
}

.header {
  @include header-text(15px, $color: $dark-blue);
  text-transform: uppercase;
  background-color: $lol-grey5;
  border-top: 4px solid $dark-blue;
  padding-bottom: 7px;
  padding-top: 4px;
  margin-bottom: 10px;
}

.configuration {
  border: 1px solid $lol-grey7;
  margin-bottom: 15px;
  background-color: #fff;

  p { 
    @include primary-text(14px);
  }
}

.label {
  @include headline-text(inherit, $color: inherit);
}

.search-label, .active-label {
  background-color: $lol-grey4;
}

.search-label {
  @include headline-text(15px, $color: $light-text);
}

.filter-label {
  background-color: $lol-grey9;
  color: $reg-text;
}
