$logo-font: 'Open Sans', sans-serif;
$primary-font: 'Muli', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$light-grey: #d4d4d4;
$grey: #484849;
$dark-grey: #545455;
$offwhite: #fbfbfb;
$offwhite2: #f8f6f6;
$divider: #767373;
$lol-grey: #b6b6b6;
$lol-grey2: #4b4a4a;
$lol-grey3: #787777;
$lol-grey3: #dddedf;
$lol-grey4: #6c6d70;
$lol-grey5: #e9ebeb;
$lol-grey6: #bababa;
$lol-grey7: #e3e4e5;
$lol-grey8: #494a4c;
$blue: #5db2e1;
$dark-blue: #3c8ebc;
$lol-blue: #99d9fc;
$beige: #f0ecda;
$orange: #f07a36;
$dark-orange: #d86d2f;
$list-1: #f2f3f4;
$list-2: #eeeff0;
$list-3: #e9ebec;
$black: #323333;