#search {
/*  height: 407px; */
  height: 300px;
  background-color: $beige;
  padding: 25px 25px 15px;

  @media (min-width: $screen-md-min) { 
    padding: 25px 40px;
  }

  .headline {
    @include headline-text(22px);
    line-height: 120%;

    @media (min-width: $screen-sm-min) { 
      font-size: 27px;
    }
  }

  h2 {
    font-size: 21px;
    font-weight: 400;
    color: $lol-grey4;
    line-height: 140%;
  }

  .search-form {
    padding-top: 20px;

    @media (min-width: $screen-sm-min) { 
      padding-top: 30px;
    }

    label {
      @include headline-text(18px);
    }

    .form-control {
      @include primary-text(18px);
      height: 42px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      box-shadow: none;
      border-color: $lol-grey3; 
      background-color: #fff;
      float: none;
    }

    .left-inner-addon {
      position: relative;

      i {
        position: absolute;
        padding: 10px 12px;
        pointer-events: none;
        z-index: 3;
        top: 4px;
      }

      input {
        padding-left: 40px;    
      }
    }
  }
}

.sample-apps {
  .heading {
    @include headline-text(21px);
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 140%;
  }

  .heading-row {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  hr {
    margin-top: 35px;
    height: 0;
    border-top: 2px solid $lol-grey5;
    border-bottom: 2px solid $lol-grey5;
  }

  .btn {
    margin-bottom: 25px;
  }

  .browse-apps {
  }

  .col-md-4:nth-child(3n + 1), 
  .col-xs-12:nth-child(3n + 1), 
  .col-sm-4:nth-child(3n + 1) {
    background-color: $list-1;
  }

  .col-md-4:nth-child(3n + 2), 
  .col-xs-12:nth-child(3n + 2),
  .col-sm-4:nth-child(3n + 2) {
    background-color: $list-2;
  }

  .col-md-4:nth-child(3n + 3), 
  .col-xs-12:nth-child(3n + 3),
  .col-sm-4:nth-child(3n + 3) {
    background-color: $list-3;
  }

  .content {
    margin-left: 20px;
    margin-right: 20px;

    @media (min-width: $screen-md-min) { 
      padding-bottom: 20px;
    }

    .icon {
      padding-top: 20px;
      padding-bottom: 5px;
    }

    .headline {
      @include header-text(24px, 400, $blue);
      text-transform: uppercase;
      margin-bottom: 25px;
    }

    .byline {
      @include primary-text(18px);
      height: 125px;
      border-bottom: 1px solid $lol-grey6;
      margin-bottom: 30px;
    }

    .tag-text {
      @include primary-text(14px);
      margin-top: 17px;
      margin-bottom: 17px;
    }

    .tags {
      margin-bottom: 33px;
    }

    .label-tag {
      background-color: $lol-grey4;
    }
  }
}

.info {
  padding-top: 20px;
  padding-bottom: 90px;
  background-color: $lol-blue;
  margin-top: 70px;

  h2 {
    @include headline-text(21px);
    margin-top: 70px;
    margin-bottom: 50px;
    line-height: 140%;
  }

  img {
    width: 30%;
  }
}

.sponsors {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $blue;
  border-bottom: 4px solid $offwhite;
  
  img {
    width: 35%;
  }
}

.separator {
  height: 8px;
  background-color: $blue;
}
