%footer
  .container
    .row
      .col-xs-12.col-sm-3.col-md-offset-3.col-md-2
        %ul.list-unstyled
          %li= link_to 'Home', '#'
          %li= link_to 'About Us', '#'
          %li= link_to 'Get Involved', '#'
      .col-md-1.col-sm-1.hidden-xs
        .vertical-rule
      .col-md-4.col-sm-8.col-xs-12
        %form{role: "form", class: "call-to-action"}
          .form-inputs
            %label{for: "get-involved"} Learn how to get involved
            %input{name: "get-involved", id: "emailaddress", type: "text", placeholder: "Email address"}
            %textarea{class: 'comments-section', placeholder: "Comments?", rows: 3, id: 'subscriber_comments'}
            .form-btn#trigger
              %button{class: "btn btn-default", type: "button"} Count Me In

