%nav.navbar{role: "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{href: "#"} Get Through This
    .navbar-right
      %ul.nav.navbar-nav
        %li= link_to 'Home', '#'
        %li= link_to 'About Us', '#'
        %li= link_to 'FAQ', '#'
        %li= link_to 'For Developers', '#'
