%nav{role: "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{href: "/"} Get Through This
    %ul.nav.navbar-nav.center-block.navbar-right
      - @navbar_entries.each do |entry|
        %li{'class' => mobile_hide(entry)}
          = link_to entry[:title], entry[:url]

