// Template 1 begins here
.search
  .container.details
    .row
      .copy
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.big-font
          .pane
            .para
              = raw(@page_content[:main_content])

