/ Template 1 begins here
.row.simple-box
  .col-lg-12.col-md-12.col-sm-12.col-xs-12.band3
    .big-font.horiz-center
      = raw(@page_content[:title])

.row.content.simple-box
  .col-lg-12.col-md-12.col-sm-12.col-xs-12.big-font
    .pane
      .para
        = raw(@page_content[:main_content])

