// Template 1 begins here
.search
  .container.details
    .row
      .col-lg-8.col-md-8.col-sm-8.col-xs-8.big-font
        .description
          .copy
            .para
              = raw(@page_content[:main_content])

